.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.tabbar ul {
  display: flex;
  text-align: center;
}

.tabbar li {
  flex: 1;
  line-height: 34px;
}

.lineHeight {
  color: yellow;
}